<ion-view view-title="Prayer Request">
  <ion-content>
    <div class="card prayer-detail">
      <div class="item item-divider">
        <h1>{{prayer.user}}</h1>
      </div>
      <div class="item item-text-wrap">
        <h2 class="request">{{prayer.content}}</h2>
        <p class="timestamp">{{prayer.timestamp | date:'medium'}} (<span am-time-ago="prayer.timestamp"></span>)</p>
      </div>
      <div class="item item-text-wrap comments" ng-show="comments.length">
        <ion-item ng-repeat="comment in comments | orderBy:'timestamp':true" type="item-text-wrap">
          <div class="row">
            <div class="col">
              <h2>{{comment.user}} (<span am-time-ago="comment.timestamp"></span>)</h2>
              <p>{{comment.content}}</p>
            </div>
            <div>
              <a class="button button-assertive icon ion-trash-b" ng-click="destroyComment(comment)"></a>
            </div>
          </div>
        </ion-item>
      </div>
      <div class="item item-divider row">
        <a class="button col col-25 button-calm" ng-click="pray()"><span class="ion-heart"> Pray</span></a>
        <a class="button col col-offset-50 col-25 button-assertive" ng-click="destroyPrayer()"><span class="ion-trash-b"> Delete</span></a>
      </div>
    </div>
  </ion-content>
</ion-view>
