<ion-view view-title="Prayer Request">
  <ion-content>
    <div class="card prayer-detail">
      <div class="item item-divider">
        <h1>{{author.name}}</h1>
      </div>
      <div class="item item-avatar item-text-wrap">
        <img ng-src="http://graph.facebook.com/{{prayer.author}}/picture" />
        <h2 class="request">{{prayer.content}}</h2>
        <p class="timestamp">{{prayer.timestamp | date:'medium'}} (<span am-time-ago="prayer.timestamp"></span>)</p>
      </div>
      <div class="item comments">
        <form class="card new-prayer" ng-submit="createComment()">
          <label class="item item-input">
            <input type="text" placeholder="Add a comment!" ng-model="comment">
          </label>
          <div class="item item-divider" ng-show="comment">
            <button type="submit" class="button button-block button-positive">Create comment</button>
          </div>
        </form>
        <ion-list>
          <div class="item-remove-animate" ng-repeat="comment in comments | orderBy:'timestamp':true">
            <comment-preview data-comment="comment"></comment-preview>
          </div>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
