<ion-view view-title="Prayer Request">
  <ion-content>
    <div class="card prayer-detail">
      <div class="item item-divider">
        <h1>{{lookupUser(prayer.author).name}}</h1>
      </div>
      <div class="item item-avatar item-text-wrap">
        <img ng-src="http://graph.facebook.com/{{prayer.author}}/picture" />
        <h2 class="request">{{prayer.content}}</h2>
        <p class="timestamp">{{prayer.timestamp | date:'medium'}} (<span am-time-ago="prayer.timestamp"></span>)</p>
      </div>
      <div class="item comments">
        <form class="card new-prayer" ng-submit="createComment()">
          <label class="item item-input">
            <input type="text" placeholder="Add a comment!" ng-model="comment">
          </label>
          <div class="item item-divider" ng-show="comment">
            <button type="submit" class="button button-block button-positive">Create comment</button>
          </div>
        </form>
        <ion-list>
          <ion-item class="item-avatar" ng-repeat="comment in comments | orderBy:'timestamp':true" type="item-text-wrap">
            <img ng-src="http://graph.facebook.com/{{comment.author}}/picture" />
            <a class="button button-assertive icon ion-trash-b pull-right" ng-click="destroyComment(comment)" ng-show="isCurrentUser(comment.author)"></a>
            <h2>{{lookupUser(comment.author).name}} (<span am-time-ago="prayer.timestamp"></span>)</h2>
            <p>{{comment.content}}</p>
          </ion-item>
        </ion-list>
      </div>
      <div class="item item-divider row">
        <a class="button col col-25 button-calm" ng-click="pray()"><span class="ion-heart"> Pray</span></a>
        <a class="button col col-offset-50 col-25 button-assertive" ng-click="destroyPrayer()" ng-show="isCurrentUser(prayer.author)"><span class="ion-trash-b"> Delete</span></a>
      </div>
    </div>
  </ion-content>
</ion-view>
