<div class="modal">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Pray</h1>
    <button class="button button-clear button-positive" ng-click="closePrayModal()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addComment()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Add a personal message" ng-model="comment">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-balanced">I'm Praying!</button>
      </div>
    </form>
  </ion-content>
</div>
